/* General styles for the signup form */
.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adds space between form elements */
}

.signup-form h2 {
  font-size: 24px;
  color: #2C3E50;
  margin-bottom: 20px;
  text-align: center;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signup-form input:focus {
  border-color: #1ABC9C;
  outline: none;
}

.signup-form button {
  background-color: #1ABC9C;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #16a085;
}

/* Responsive Design for Small Screens */
@media screen and (max-width: 768px) {
  .signup-form {
    width: 90%;
    padding: 15px;
  }

  .signup-form h2 {
    font-size: 20px;
  }

  .signup-form input,
  .signup-form button {
    font-size: 14px;
  }
}
